<!DOCTYPE html>
{% extends "blog/base.html" %}
{% block content%}
<style>
/*.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}*/

/* Safari */
/*@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}*/

/*@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
*/

/* Class-based styling */
select {
	width: 200px;
}

/* ID-based styling */
#col1 {
	float: left;
  	width: 20.00%;
}

#col2 {
	float: left;
	width: 80.00%;
}

</style>

<script type = "text/JavaScript">
	var clicked = 1;
	// Get ID of occupation
	// returns string of ID
	function GetOccupation(){
		var e = document.getElementById("environment");
		var result = e.options[e.selectedIndex].value;
		return result;
	}

	// Get ID from scenario dropdown
	// returns string of ID
	function GetScenario(){
		var e = document.getElementById("scenario");
		var result = e.options[e.selectedIndex].value;
		return result;
	}

	// Generate Sentence Button
	function GenerateSentence() {
		console.log(clicked)
		var occupationID = GetOccupation();
		var scenarioID = GetScenario();

		var sentence; 
		if (occupationID === "ID002" && scenarioID === "ID008") { 
			// Middle School Student
			sentence = "Do you want to go play basketball or soccer together?"
		}
		else if (occupationID === "ID001" && scenarioID === "ID008") {
			// Elementary student
			sentence = "Hello, how are you doing?"
		}
		else if (occupationID === "ID003" && scenarioID === "ID008") {
			// High School Student
			if (clicked == 1) {
				sentence = "Did you hear that Daniel made the cut to Varsity Track and Field?"
			}
			else if (clicked == 2) {
				sentence = "I have to study for my AP Calculus test."
			}
			else {
				sentence = "He scored three amazing goals in yesterday's game."
			}
			clicked += 1;
		}
		else if (occupationID === "ID005" && scenarioID === "ID010") {
			// Working employee
			sentence = "This is a presentation to inform about how our project is applicable for certain aspects of company growth."
		}
		else if (occupationID === "ID013" && scenarioID === "ID014") {
			// Middle-aged person needing medical assistance
			sentence = "Do you know where the Emergency Room is located?"
		}
		else {
			sentence = "Sentence to be determined"
		}

		// update the input in the form so that it can be passed to python
		document.getElementById("sentence").value = sentence;

		sentence = sentence.split(" ");
		// clears spans elements if there are any 
		var list = document.getElementById('display');
		while (list.hasChildNodes()) {  
  			list.removeChild(list.firstChild);
		}

		// add words to parent element one by one
		for(var i=0; i<sentence.length;i++) {
			if (i != sentence.length-1) {
				sentence[i] += " ";
			}
			var newSpan = document.createElement('span');
			newSpan.textContent = sentence[i];
			list.appendChild(newSpan);
		}
	}

	// Evaluate Button
	function ScoreSentence() {
		// process scored data passed from python
		var score = JSON.parse("{{ score | escapejs }}");

		var spans = document.getElementById('display').childNodes;

		// loop through the JSON words, color each word in the sentence by score
		for (i=0; i<score.words.length;i++) {
			spans[i].style.color = ChangeColor(score.words[i].score);
		}
	}

	function ChangeColor(score) {
		if (score <= 50) {
			return "red";
		}
		else if (score <= 75) {
			return "yellow";
		}
		else {
			return "green";
		}
	}

</script>

<p>To gauge your environment and give you sentences like you will more likely encounter, please tell us your occupation: </p>
<select id="environment">
	<option value="None">-- Select --</option>
	<option value="ID001">Elementary School</option>
	<option value="ID002">Middle School</option>
	<option value="ID003" selected>Highschool</option>
	<option value="ID004">College</option>
	<option value="ID005">Employed</option>
	<option value="ID006">Unemployed</option>
	<option value="ID007">Retired</option>
</select>
<br/>
<br/>
<p>And now, please tell us the scenario that you wish to prepare for: </p>
<select id="scenario">
	<option value="None">-- Select --</option>
	<option value="ID008" selected>Classroom (student)</option>
	<option value="ID009">Classroom (teacher)</option>
	<option value="ID010">Work (employee)</option>
	<option value="ID011">Work (boss)</option>
	<option value="ID012">Restaurant</option>
	<option value="ID013">Hospital</option>
	<option value="ID014">Social</option>
</select>

<br/>
<br/>
<br/>
<button class="sentence_btn" style="width:170px;height:30px;" onclick="GenerateSentence('clicked')">Generate Sentence</button>
<br/>
<br/>
<br/>

<p>Repeat After Me...</p>
<div class="row">
	<div class="column" id="col1">

	</div>
	<div class="column" id="col2">
		<h3 id='display'></h3>
	</div>
</div>

<!-- <br/>
<br/>
<button class="listen_btn" style="width:170px;height:30px;">Listen To Sentence</button> -->

<br/>
<br/>

<div class="row">
  <div class="column" style="width:33.33%;">
    <form method="post">
    		{% csrf_token %}
    	<input type="hidden" id="sentence" name="text">
    	<input type="hidden" id="count" name="count">
		<input type="hidden" name="record">
		<button class="button button5" style="width:80px;height:30px">Record</button>
	</form>
		<h> {{data}}</h1>		
<!-- 		<br/>
		<br/>		
		<button class="play_btn" style="width:170px;height:30px;">Play Your Audio</button>
		<br/>
		<br/>
		<button class="record_btn" style="width:170px;height:30px;">Record Again</button>		
		<br/>
		<br/> -->
  </div>
  <div class="column" style="width:33.33%;">
  </div>
  <div class="column" style="width:33.33%;">
    <button class="score_btn" onclick="ScoreSentence()" style="width:170px;height:30px;">Evaluate</button>		
	<br/>
	<br/>
  </div>
</div>



<script>
	var sentence = JSON.parse("{{ sentence | escapejs }}");
	if (sentence !== null) {
			console.log(sentence);
			sentence = sentence.split(" ");
			var list = document.getElementById('display');
			while (list.hasChildNodes()) {  
  				list.removeChild(list.firstChild);
			}

			for(var i=0; i<sentence.length;i++) {
				if (i != sentence.length-1) {
					sentence[i] += " ";
				}
				var newSpan = document.createElement('span');
				newSpan.textContent = sentence[i];
				list.appendChild(newSpan);
			}
		}
		else {
			console.log("no sentence");
		}
</script>



{% endblock content %}